/*.button-link {*/
/*  -fx-background-color: transparent;*/
/*  -fx-text-fill: #2196F3;*/
/*  -fx-underline: true;*/
/*  -fx-cursor: hand;*/
/*  -fx-effect: null;*/
/*}*/

/*.button-exit {*/
/*  -fx-background-color: #F44336;*/
/*  -fx-text-fill: white;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);*/
/*  -fx-cursor: hand;*/
/*}*/

/*.button-normal {*/
/*  -fx-background-color: #765038; !* Beige Brown *!*/
/*  -fx-text-fill: white;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);*/
/*  -fx-cursor: hand;*/
/*}*/

/*.button-normal-big {*/
/*  -fx-background-color: #765038; !* Beige Brown *!*/
/*  -fx-text-fill: white;*/
/*  -fx-background-radius: 15;*/
/*  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);*/
/*  -fx-cursor: hand;*/
/*}*/

/*.combo-box {*/
/*  -fx-background-color: #F5F5DD; !* Beige *!*/
/*  -fx-text-fill: white;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);*/
/*  -fx-cursor: hand;*/
/*}*/

/*.list-view {*/
/*  -fx-background-color: #F5F5DD; !* Beige *!*/
/*  -fx-border-color: #C7AD7F; !* Light French Beige *!*/
/*  -fx-border-width: 2px;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-padding: 10px;*/
/*}*/

/*.list-button {*/
/*  -fx-background-color: #A57A5A; !* Café Au Lait *!*/
/*  -fx-text-fill: white;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);*/
/*  -fx-cursor: hand;*/
/*}*/

/*.tex {*/
/*  -fx-text-fill: black;*/
/*  -fx-padding: 5px;*/
/*}*/

/*.tex_2 {*/
/*  -fx-text-fill: #765038;*/
/*  -fx-padding: 5px;*/
/*}*/

/*.field_text {*/
/*  -fx-background-color: #F9F7F5;*/
/*  -fx-background-radius: 5px;*/
/*  -fx-border-radius: 5px;*/
/*  -fx-border-color: #765038; !* Beige Brown *!*/

/*}*/

.root {
  -fx-font-family: 'Century';
}

.sidebar {
  -fx-background-image: url("../../../images/Background.jpg");
}

.col {
  -fx-background-color: #2d2d2d;
}

.button{
  -fx-background-color: #ffa100; /* Beige Brown */
  -fx-text-fill: white;
  -fx-background-radius: 15;
  -fx-effect: dropshadow(two-pass-box, gray, 5, 0.5, 2, 2);
  -fx-cursor: hand;
}

.button:hover {
  -fx-background-color: #fab547;
}

.fields{
  -fx-background-radius: 15;
}

/*.pane {*/
/*    -fx-background-color: #765038;*/
/*}*/

/*.tablet-view {*/
/*  -fx-background-color: #F5F5DD; !* Beige *!*/
/*  -fx-border-color: #C7AD7F; !* Light French Beige *!*/
/*  -fx-border-width: 2px;*/
/*  -fx-background-radius: 12px;*/
/*  -fx-border-radius: 10px;*/
/*  -fx-padding: 10px;*/
/*}*/

/*.tablet-view .table-column {*/
/*  -fx-background-color: #E6E6D4; !* Light Beige *!*/
/*  -fx-border-color: #C7AD7F; !* Light French Beige *!*/
/*  -fx-border-width: 0 1 0 0;*/
/*}*/

/*.tablet-view .table-cell {*/
/*  -fx-text-fill: #765038;*/
/*  -fx-alignment: center;*/
/*  -fx-padding: 5px;*/
/*}*/
